<div class="card-header">
  {{ $ctrl.city.name
  }}<span ng-if="$ctrl.titleSuffix"> - {{ $ctrl.titleSuffix }}</span>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Average temperature: {{ $ctrl.temp }}</li>
  <li class="list-group-item">Wind speed: {{ $ctrl.windSpeed }}</li>
  <button
    type="button"
    class="btn btn-primary "
    ng-click="$ctrl.showForecast()"
    ng-if="!$ctrl.isForecast"
  >
    Show next hours forecast
  </button>
  <button
    type="button"
    class="btn btn-primary "
    ng-click="$ctrl.showWeather()"
    ng-if="$ctrl.isForecast"
  >
    Show weather
  </button>
</ul>
